*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(157, 157, 226);
}

#mainContentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mainContentContainer h2{
    margin-top:2rem;
}

#mainContentContainer span, h2{
font-size: 2rem;}

#gameboard{
    margin-top: 2rem;
    border: 1px solid black;
}